/* --- T E X T --- */

/* Überschrift 1 */	
h1 {
	color: white;
	font-family: "Usual", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: left;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
/* Überschrift 2 */
h2 {
    color: white;
	font-family: "Usual", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: left;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
/* Standarttext für auf die Seite */
p {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 20px;
	color: white;
	font-family: "Usual", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
/* großere Version des Standarttextes */
p.fett {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 20px;
	color: white;
	font-family: "Usual", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
}
/* linksbündiger Text */
p.left {
	text-align: left;
}
/* rechtsbündiger Text */
p.right {
	text-align: right;
}

p.personTitel {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	color: white;
	font-family: "Usual", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

/* Links zu anderen Seiten... */
a {
	text-decoration: none;
	margin-right: 20px;
    color: white;
	font-family: "Usual", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
/* der aktuell selektierte Reiter in der Navigationsleiste */
a.class1 {
	font-size: 32px;
	color: black;
	margin-left: 5px;
}
/* alle anderen Reiter in der Navigationsleiste */
a.class2 {
	font-size: 32px;
	color: white;
	margin-left: 5px;
}
/* Standartverhalten des Links */
a.class1:link {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 40px 20px;
	text-decoration: none;
	background-color: white;
}
/* Standartverhalten des Links */
a.class2:link {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 40px 20px;
	text-decoration: none;
	color: white;
}
/* wenn der Mauszeiger auf den Link kommt */
a.class1:hover {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 40px 20px;
	color: white;
	text-decoration: none;
	background-color: blue;
}
/* wenn der Mauszeiger auf den Link kommt */
a.class2:hover {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 40px 20px;
	text-decoration: none;
	background-color: blue;
}

/* --- A L L G E M E I N --- */

/* fasst die Navigationsleiste zusammen */
.header {
	background-color: #222222;
	width: 100%;
	padding-bottom: 5px;
}
/* Logo neben der Überschrift */
.bildlinks {
	width: 100px;
	height: 100px;
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
/* der Körper der Seite */
body {
	width: 100%;
	margin: 0px;
	background-color: black;
}
/* beinhaltet die verschieden Navigations-Reiter in der Navigationsleiste */
.menueleiste {
	padding-top: 5px;
	padding-bottom: 5px;
}
/* setzt Sachen mittig */
.mittig {
	margin-left: auto;
	margin-right: auto;
}

/* --- I N D E X --- */

/* beinhaltet Bild mit Text daneben auf der Indexseite */
.btcontainer {
	width: 900px;
	height: 320px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}
/* Bild mit Text auf der rechten Seite */
.bildmittextRechts {
	float: left;
	border-radius: 5px;
	width: 450px;
	margin-right: 20px;
}
/* Bild mit Text auf der linken Seite */
.bildmittextLinks {
	float: right;
	border-radius: 5px;
	width: 450px;
	margin-left: 20px;
}

/* --- S T O R E --- */


/* Box für das PC-Bild und Text im Store */
.pcOffer {
	background-color: #222222;
	padding: 5px;
	border-radius: 10px;
	text-align: center;
	width: 250px;
	margin: 50px;
}
/* Überschrift zum PC-Bild im Store */
.pcTitel {
	margin: 0;
	padding-top: 5px;
}
/* das PC-Bild in der Übersicht im Store */
.pcBild {
	float: top;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	width: 200px;
	height: 200px;
}
/* Unterhalb des PC-Bilds im Store */
.pcText {
	margin: 0;
}

/* --- A G B --- */


/* --- Ü B E R  U N S --- */

.person {
	background-color: #222222;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	height: 850px;
	width: 400px;
	margin: 50px;
}

/* --- I M P R E S S U M --- */

.impressum {
	background-color: #222222;
	padding: 20px;
	border-radius: 10px;
	text-align: left;
	width: 500px;
	margin: 50px;
}


